:root {
    --color-down: #6f38c5;
    --color-up: #87a2fb;
    --color-select: #cd104d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    font-size: 2rem;
    color: #fff;
}

.time {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    width: 100;
    height: 30px;
    border: 2px solid var(--color-down);
    border-radius: 15px;
    overflow: hidden;
}

.time_load {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--color-down);
}

.RegresiveSeconds {
    position: absolute;
    right: 50%;
    top: 5px;
    z-index: 1000;
    font-weight: bold;
}

.optionsChrono,
.optionsConfig {
    background-color: var(--color-up);
    width: 100px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    transform: translateY(-200%);
    transition: transform 0.5s;
}

.settingsView {
    transform: translateY(0);
}

.optionsChrono .opt,
.optionsConfig .opt {
    display: inline-block;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: #fff;
    cursor: pointer;
    color: var(--color-up);
}

.container {
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    background-color: var(--color-down);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    transition: opacity 0.5s;
}

.card:hover {
    opacity: 0.7;
}

.down {
    background-color: var(--color-down);
}

.up {
    background-color: var(--color-up);
}

.select {
    background-color: var(--color-select);
}

.boxSettings {
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 60px;
}

.boxSettings i {
    color: var(--color-down);
    cursor: pointer;
    border-radius: 50%;

    transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

.boxSettings i:hover {
    transform: translateY(-5px);
    background-color: var(--color-down);
    color: #fff;
}

footer {
    color: #fff;
    height: 50px;
    background-color: var(--color-down);

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

footer i {
    border-radius: 50%;
    transition: color 0.5s, background-color 0.5s;
}

footer i:hover {
    color: #6f38c5;
    background-color: #fff;
}
